* {
  font-family: "Lato", serif;
  padding: 0;
  margin: 0;
}

nav {

  background-color: black;
  height: auto;
}

.navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

.search {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #808080;
  border: 2px solid transparent;
  border-radius: 10px;

}

.search img {
  cursor: pointer;
}

.searchInput {
  border: none;
  background-color: transparent;

}

.searchInput::placeholder {

  color: #cecdcd;
}

.offer {
  border: 2px solid transparent;
  border-bottom-color: green;
  cursor: pointer;
}

.navbottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 0 50px;

}

.menuitem {
  cursor: pointer;
}

.slider {
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */
}

.sliderWrapper {
  display: flex;
  width: 500vw;
}
.sliderItem{
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sliderBg{
  width: 650px;
  height: 550px;
  border-radius: 50%;
  background-color: green;
  position:absolute;


}
.sliderTitle{
  position: absolute;
  left: 10%;
  color: white ;

}
.sliderImg{
  width: 450px;
  height: 600px;
}

.sliderImg , .sliderTitle,.sliderPrice, .sliderItem a{
  z-index: 1;
}

